 <label>id</label>
        <input
          type="text"
          class="form-control"
          id="id"
          required
          [(ngModel)]="customer.id"
        />
        <label>first name</label>
        <input
          class="form-control"
          id="firstName"
          required
          [(ngModel)]="customer.firstName"
        />

  <label>middle name</label>
  <input
    class="form-control"
    id="middleName"
    required
    [(ngModel)]="customer.middleName"
  />

  <label>last name</label>
  <input
    class="form-control"
    id="lastName"
    required
    [(ngModel)]="customer.lastName"
  />
 <button (click)="editCustomer()">Edit</button>
