<div style="width: 400px; margin: auto;">
        <label>id</label>
        <input
          type="text"
          class="form-control"
          id="id"
          required
          [(ngModel)]="id"
        />
        <label>first name</label>
        <input
          class="form-control"
          id="firstName"
          required
          [(ngModel)]="firstName"
        />

  <label>middle name</label>
  <input
    class="form-control"
    id="middleName"
    required
    [(ngModel)]="middleName"
  />

  <label>last name</label>
  <input
    class="form-control"
    id="lastName"
    required
    [(ngModel)]="lastName"
  />
</div>
